



  .container {
    padding: 40px;
    background-color: azure;
    border: 1px solid black;
    border-radius: 5px;
}

.onLine {
    color: green;
}

.ofLine {
    color: brown;
}

.stats {
    color: black;
    
   
    
  }